%ul.table-view
  %li.table-view-cell
    = @game.winner.name
    won the game!
  %li.table-view-divider
    Turns
    - @game.turns.each do |turn|
      %li.table-view-cell
        = turn.winner.name
        scored
        = turn.points
