header + form
  padding-top: 60px

header + ul
  padding-top: 43px

.input-row
  input
    text-align: right
    width: 20%
  label
    width: 80%

.table-view-cell
  padding-right: 15px

.game-show
  form
    width: 200px
  input
    text-align: center

.btn-block
  margin-bottom: 0px
